<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link rel="stylesheet" href="./css/test.css">
        <title>샘플 심리 테스트</title>
    </head>
    <body>
        <script src="./js/test.js"></script>
    </body>
</html>
 