@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">vscode에서 작성한 </h1>
    <h2 class="display-5">vscode에서 작성한거 </h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
