@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">vscode에서 작성한겅딘당~~ </h1>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
